<% unless users.present? %>
  <p class="results-message">No results!</p>
<% else %>
  <p class="results-message"><%= users.total_entries %> results</p>
  <table id="users">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
    </tr>
  <% users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Profile', profile_path(user), target: '_blank', class: 'simple' %></td>
    <tr>
  <% end %>
  <table>
  <%= will_paginate users %>
<% end %>