<h1>Pro<span class="highlight">file</span></h1>

<%= form_for @user, url: {action: 'update'}, html: {class: 'form'} do |f| %>
  <p>
    <%= f.text_field :name, placeholder: 'name' %>
    <% if @user.errors[:name].present? %>
      <div class="input-error">
        <%= @user.errors[:name].join(' ') %>
      </div>
    <% end %>
  </p>
  
  <p>
    <%= f.text_field :surname, placeholder: 'surname' %>
    <% if @user.errors[:surname].present? %>
      <div class="input-error">
        <%= @user.errors[:surname].join(' ') %>
      </div>
    <% end %>
  </p>
  
  <%= link_to 'Update', '#', class: 'submit-button' %>
  <%= link_to 'Back', root_path %>
<% end %>
