<h1>Pro<span class="highlight">file</span></h1>

<%= form_for @user, url: {action: 'update'}, html: {class: 'form'} do |f| %>
  <p>
    <%= f.text_field :name, placeholder: 'name' %>
    <% if @user.errors[:name].present? %>
      <div class="input-error">
        <%= @user.errors[:name].join(' ') %>
      </div>
    <% end %>
  </p>
  
  <p>
    <%= f.text_field :surname, placeholder: 'surname' %>
    <% if @user.errors[:surname].present? %>
      <div class="input-error">
        <%= @user.errors[:surname].join(' ') %>
      </div>
    <% end %>
  </p>
  
  <h5>Skills: (click on any to delete)</h5>
  <span id="picks" data-type="deletable">
    <% @user.skills.each do |skill| %>
    <span class="pick deletable" data-id="<%= skill.id %>"><%= skill.name %></span>
    <% end %>
  </span>
  <br/>
  <div id="search-box">
    <div class="pull-left">
      <%= text_field_tag 'search', '', class: 'skill-addable', placeholder: 'type to search skills...' %>
      <div id="skills-box">
        <ul id="skills"></ul>
      </div>
    </div>
  </div>
  <br/>
  
  <%= link_to 'Update', '#', class: 'submit-button' %>
  <%= link_to 'Back', root_path %>
<% end %>
