<h1>Sign<span class="highlight">up</span></h1>

<%= form_for @user, url: {action: 'create'}, html: {class: 'form'} do |f| %>
  <div class="hide">
    <%= f.email_field :email %>
    <%= f.password_field :password %>
  </div>
  
  <p>
    <%= f.email_field :email, placeholder: 'email' %>
    <% if @user.errors[:email].present? %>
      <div class="input-error">
        <%= @user.errors[:email].join(' ') %>
      </div>
    <% end %>
  </p>
  
  <p>
    <%= f.password_field :password, placeholder: 'password' %>
    <% if @user.errors[:password].present? %>
      <div class="input-error">
        <%= @user.errors[:password].join(' ') %>
      </div>
    <% end %>
  </p>
  
  <%= link_to 'Register', '#', class: 'submit-button' %>
<% end %>
