<h1>Sign<span class="highlight">up</span></h1>

<%= form_for @user, url: {action: 'create'}, html: {class: 'form'} do |f| %>
  <div class="hide">
    <%= f.email_field :email %>
    <%= f.password_field :password %>
  </div>
  
  <p>
    <%= f.email_field :email, placeholder: 'email' %>
    <%= render 'input_error', user: @user, attribute: :email %>
  </p>
  
  <p>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= render 'input_error', user: @user, attribute: :password %>
  </p>
  
  <%= link_to 'Register', '#', class: 'submit-button' %>
  <%= link_to 'Back', :back %>
<% end %>
