<h1>Pro<span class="highlight">file</span></h1>

<div>
  <p><b><%= @user.full_name %></b></p>
  <p><b><%= @user.email %></b></p>
  <p>
    <% if @user.skills.empty? %>
      No skills yet
    <% else %>
      Skills:
      <ul class="skills-list">
        <% @user.skills.each do |skill| %>
        <li><%= skill.name %></li>
        <% end %>
      </ul>
    <% end %>
  </p>
  
  <% if current_user.id == @user.id %>
  <%= link_to 'Edit',  edit_profile_path(@user) %>
  <% end %>
  <%= link_to 'Back', root_path %>
</div>
